*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}
#main{
    margin: 20px 8px;
    padding: 20px;
    border-radius: 5px;
    background: #eee;
    

}
#image{
    max-width: 100%;
    display: block;
  
    height: auto;
    margin: 0 auto;
}
#img-div{
    
    background:white;
    margin:0px;
}

h1{
    color:black;
    
}
#titl{
    font-size: 0.9em;
    margin:30px;
    
}
#img-caption{
    margin: 15px 0 10px 0;
    font-size: 1rem; 

}

#listing{
    margin: 20px 8px;
    padding: 18px;
    
    background: #eee;
}

p{
    font-size: 1.2rem; 
    margin:15px;
}
ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    display: block;
    
    
}

.blockquote{
    font-size: 1rem;
    padding-top: 14px;
}

li{
    font-size: 1rem; 
    margin:15px;
     
    
}

#tribute-info{
    font-size: 1.2rem;
    
}

@media (max-width:576px){
    h1{
        font-size: 1.5em;
    }
}